body {
    height: 100vh;
    /* display: flex; */

}

.box {
    box-sizing: border-box;

    width: 585px;
    height: 240px;
    padding: 30px 40px;
    /* margin-right: 50px;
    margin-top: 150px;
    margin-bottom: 250px; */
    margin-left: auto;
    margin-right: auto;

    background-color: yellowgreen;
    border: 25px solid bisque;
}

    /* margin: 50px; */

    /* border: 5px dashed tomato; */
    /* border-top: 5px solid tomato;
    border-right: 5px dashed palegreen;
    border-left: 5px dotted burlywood;
    border-bottom: 5px solid transparent;
    border-radius: 5px;
    border-bottom-right-radius: 50px; */

    /* border: 20px solid green;


    background-color: rgb(22, 160, 165);
    color: azure;
} */

/* *,
*::after,
*::before {
    box-sizing: border-box;
    background-color: rgb(93, 129, 107);
} */

/* .inner-box {
    box-sizing: border-box;
    
    width: 585px;
    height: 240px;
    padding: 20px 50px;
    margin-top: 50px;
    margin-left: 75px;

    border-radius: 5px;

    background-color: aliceblue;
    color: brown;

} */

/* .links {
    background-color: aqua;
} */

/* ul {
    list-style: none;
    background-color: blueviolet;
} */

/* a {
    display: inline-block;
    background-color: antiquewhite;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 75px;

} */

/* .img {
    display: block;
} */

