body {
    height: 100vh;
    /* display: flex; */

}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.navigation-item {
    margin-right: 40px;
}

.navigation-item::last-child {
    margin-right: 0;
}

.navigation-list {
    display: flex;
}

.header {
    background-color: rosybrown;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.container {
    outline: 2px solid tomato;
    width: 1200px;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}
.header-group {
    margin-left: auto;
}

.header-container {
    display: flex;
    align-items: center;
    
}

.logo {
    margin-right: 71px;
}

.list {
    text-decoration: none;
}

.navigation-link {
    outline: 1px solid blue;

}

.navigation-link,
.header-phone {
    margin-top: 52px;
    margin-bottom: 52px;
}

.header-phone:hover,
.header-phone:focus {
    color: brown;

}

.btn {
    padding: 12px 20px;
    max-width: 200px;

}

.navigation-link:hover,
.navigation-link:focus {
    color: brown;
}

.about-img {
    margin-right: 30px;

}

.about-group {
    width: 500px;

}

.footer {
    padding-top: 56px;
    padding-bottom: 56px;
}
/* .box {
    box-sizing: border-box;

    width: 585px;
    height: 240px;
    padding: 30px 40px;
    /* margin-right: 50px;
    margin-top: 150px;
    margin-bottom: 250px; */
    /* margin-left: auto;
    margin-right: auto;

    background-color: yellowgreen; */
    /* border: 25px solid bisque;
} */ 

    /* margin: 50px; */

    /* border: 5px dashed tomato; */
    /* border-top: 5px solid tomato;
    border-right: 5px dashed palegreen;
    border-left: 5px dotted burlywood;
    border-bottom: 5px solid transparent;
    border-radius: 5px;
    border-bottom-right-radius: 50px; */

    /* border: 20px solid green;


    background-color: rgb(22, 160, 165);
    color: azure;
} */

/* *,
*::after,
*::before {
    box-sizing: border-box;
    background-color: rgb(93, 129, 107);
} */

/* .inner-box {
    box-sizing: border-box;
    
    width: 585px;
    height: 240px;
    padding: 20px 50px;
    margin-top: 50px;
    margin-left: 75px;

    border-radius: 5px;

    background-color: aliceblue;
    color: brown;

} */

/* .links {
    background-color: aqua;
} */

/* ul {
    list-style: none;
    background-color: blueviolet;
} */

/* a {
    display: inline-block;
    background-color: antiquewhite;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 75px;

} */

/* .img {
    display: block;
} */

